<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/544d42c7-c58f-448a-8c48-be9ce86bcaae/resourceGroups/mock/providers/Microsoft.ApiManagement/service/WebApiMockapi/apis/WebApiMock</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/544d42c7-c58f-448a-8c48-be9ce86bcaae/resourceGroups/mock/providers/Microsoft.Web/sites/mockserver-api</ResourceId>
    <ResourceGroup>mock</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mockserver-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2c28bc37-1c43-44a9-879e-813cbd2b9264</ProjectGuid>
    <PublishUrl>https://mockserver-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$mockserver-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>